@model IEnumerable<EmployeeWork.Models.Employee>

@{
    ViewData["Title"] = "Employees Page";
}
<h1>Employees Page</h1>

<p>

    <a asp-action="Create">Employees Dashboard</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationDays)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
  @foreach(var item in Model){       
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)

                </td>
                <td>
                    @Html.DisplayFor(model =>item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(model =>item.WorkDays)
                </td>
                <td>
                    @Html.DisplayFor(model =>item.VacationDays)
                </td>
                <td>
                    @Html.ActionLink("Work", "Work", new{ id=item.EmployeeId}) |
                    @Html.ActionLink("Take Vacation", "Vacation", new{id=item.EmployeeId})
                </td>
            </tr>
        }

    </tbody>

</table>